<h1>About Page</h1>

<h2>Data Sources</h2>

<h3>Tree Inventory from City of Winnipeg Open Data Portal</h3>
<p>
  "Detailed list and map of all public trees located in the City of Winnipeg, including botanical name, common name and precise location." Source: <a href="https://data.winnipeg.ca/Parks/Tree-Inventory/hfwk-jp4h">https://data.winnipeg.ca/Parks/Tree-Inventory/hfwk-jp4h</a>.
</p>

<h3>Cat Breeds from TheCatAPI</h3>
<p>
  A detailed list of cat breeds and their related details. Source: <a href="https://thecatapi.com/">https://thecatapi.com/</a>.
</p>

<h3>Faker Gem</h3>
<p>
  The Faker gem was used to generate a unique name for each Cat in the database. The cats were specifically named from the last names within the default Name library. Source: <a href="https://github.com/faker-ruby/faker">https://github.com/faker-ruby/faker</a>.
</p>